nb-card {
    margin-bottom: 0.4rem;
  }
nb-accordion{
    margin-bottom: 0.4rem;
}
nb-accordion-item-header{
    white-space:normal;
}
nb-accordion-item-header:hover .ml-auto{
    visibility: visible;
}
nb-checkbox
{
    margin-right: 0.6rem;
}
.d-flex
{
    width: 90%;
}
.ml-auto
{
    visibility: hidden;
}
