nb-card {
    overflow-x: hidden;
    margin-bottom: 0.4rem;
  }
nb-accordion{
    margin-bottom: 0.4rem;
}
nb-accordion-item-header{
    white-space:normal;
}
nb-accordion-item-header:hover .ml-auto{
    visibility: visible;
}
.subhover:hover .ml-auto{
    visibility: visible;
}
nb-checkbox
{
    margin-right: 0.6rem;
}
.d-flex
{
    width: 100%;
}
.iconhide
{
    visibility: hidden;
}
.strike {
    text-decoration: line-through;
}
nb-icon.bigger
{
    font-size: 1.4rem;
}
.maincheckbox
{
    --checkbox-height:1.8rem;
    --checkbox-width:1.8rem;
}
.subcheckbox
{
    --checkbox-height:1.5rem;
    --checkbox-width:1.5rem;
}
.accordionborder
{
    --accordion-border-radius:1.5rem;
}
.cardborder
{
    --card-border-radius:2rem
}
.iconfont
{
    --icon-font-size: 1.5rem;
}
.iconfont2
{
    --icon-font-size: 1.8rem;
}
.width90
{
    width: 90%;
}

nb-icon.bigger2
{
    font-size: 1rem;
}

.hide{
}