.canvas-wrapper1
{
    background-color: white;
}
.canvas-wrapper
{
    padding-left: 15px;
}
.cardwidth
{
    min-width: 230px;
    max-width: 250px;
}
.selectwidth
{
    min-width: 200px;
    max-width: 200px;
}
