<div class="row justify-content-center">
    <div class="col-8">
        <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
              <tr class="customtable">
                <th scope="col">Name</th>
                <th style="width: 10%" scope="col">Response</th>
                <th scope="col">Dietary restrictions</th>
                <th scope="col">Comment</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <div class="d-flex flex-column">
                      <label class="labelfont">Groom</label>
                      <input class="inputstlye" placeholder="..."> 
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <nb-icon class="bigger" icon="check" pack="fa-solid"></nb-icon>
                    </td>
                    <td class="align-middle">Otto</td>
                    <td class="align-middle textareatd">
                      <textarea class="textareastlye"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex flex-column">
                      <label class="labelfont">Bride</label>
                      <input class="inputstlye" placeholder="..."> 
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <nb-icon class="bigger" icon="check" pack="fa-solid"></nb-icon>
                    </td>
                    <td class="align-middle">Otto</td>
                    <td class="align-middle">@mdo</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex flex-column">
                      <label class="labelfont">Category</label>
                      <input class="inputstlye" placeholder="..."> 
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <nb-icon class="bigger" icon="check" pack="fa-solid" [nbContextMenu]="items" nbContextMenuTrigger="click" ></nb-icon>
                    </td>
                    <td class="align-middle">Otto</td>
                    <td class="align-middle">@mdo</td>
                  </tr>
                  <tr *ngFor="let guest of Guests">
                    <td>
                      <div class="d-flex flex-column">
                      <label class="labelfont">{{guest.category}}</label>
                      <input class="inputstlye" placeholder="..." value="{{guest.name}}"> 
                      </div>
                    </td>
                    <td *ngIf="!(guest.category == 'Groom' || guest.category == 'Bride')" class="align-middle text-center" [nbContextMenu]="items" nbContextMenuTrigger="click" [ngSwitch]="guest.response" nbContextMenuTag={{guest.id}}>
                      <nb-icon class="bigger" icon="check" pack="fa-solid" *ngSwitchCase="guestRespone.AcceptedBoth"></nb-icon>
                      <nb-icon class="bigger" icon="question" pack="fa-solid" *ngSwitchCase="guestRespone.Unknown"></nb-icon>
                      <nb-icon class="bigger" icon="church" pack="fa-solid" *ngSwitchCase="guestRespone.OnlyCeremony"></nb-icon>
                      <nb-icon class="bigger" icon="utensils" pack="fa-solid" *ngSwitchCase="guestRespone.OnlyReception"></nb-icon>
                      <nb-icon class="bigger" icon="xmark" pack="fa-solid" *ngSwitchCase="guestRespone.Canceled"></nb-icon>
                      <nb-icon class="bigger" icon="clock" pack="fa-solid" *ngSwitchCase="guestRespone.Pending"></nb-icon>
                      <nb-icon class="bigger" icon="circle" pack="fa-solid" *ngSwitchDefault></nb-icon>
                    </td>
                    <td class="align-middle text-center" *ngIf="(guest.category == 'Groom' || guest.category == 'Bride')">
                      <nb-icon class="bigger" icon="check" pack="fa-solid"></nb-icon>
                    </td>
                    <td class="align-middle textareatd" (click)="ClickDiet(guest)" (focusout)="BlurDiet(guest)">
                      <div *ngIf="!guest.editdiet" >{{guest.diet}}</div>
                      <textarea [(ngModel)]="guest.diet" class="textareastlye" *ngIf="guest.editdiet" autofocus></textarea>
                    </td>
                    <td class="align-middle textareatd" (click)="ClickComment(guest)" (focusout)="BlurComment(guest)">
                      <div *ngIf="!guest.editcomment">{{guest.comment}}</div>
                      <textarea [(ngModel)]="guest.comment" class="textareastlye" *ngIf="guest.editcomment" autofocus></textarea>
                    </td>
                  </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
