thead th {
    background-color: white;
    color: rgb(34, 43, 69);
}

tbody td {
    background-color: whitesmoke;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.labelfont
{
    display: block;
    font-size: 13px;
    color: #777;
    margin-top: 3px;
}
.inputstlye
{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 0;
    border-radius: 0;
}
tbody td:hover
{
    background-color: rgb(249,249,249);
    border-bottom: 1px solid #0000003f;
}
nb-icon.bigger
{
    font-size: 2.2rem;
}
nb-icon.bigger2
{

    font-size: 1.4rem;
}
.textareastlye
{
    border: 0px; 
    background: rgba(255, 255, 255, 0.521); 
    width: 100%;
    min-height: 61px; 
    margin: 0px;
    outline: none;
}
tbody .textareatd
{
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
}
.buttonstyle
{
    --button-filled-basic-background-color: white;
}
nb-list-item
{
    --list-item-padding: 0.6rem
}
.iconhide
{
    visibility: hidden;
}
tr:hover .iconhide
{
    visibility: visible;
}
