<div class="row justify-content-center">
  <div class="col-8">

    <div class="row justify-content-center">
      <div class="col-8">
        <nb-card>
          <nb-card-body class="text-center">
            <p>There are no responses yet!</p>
            <p>This is the inbox, where the invations arrive.</p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-7">

        <div *ngFor="let guest of Guests">
          <ng-container *ngIf="!(guest.category == 'Groom' || guest.category == 'Bride')">
            <div class="input-group mb-3">

              <div class="input-group-prepend">
                <div class="input-group-text">
                  <div class="align-middle text-center" [nbContextMenu]="items" nbContextMenuTrigger="click"
                    [ngSwitch]="guest.response" nbContextMenuTag={{guest.id}}>
                    <nb-icon class="bigger" icon="check" pack="fa-solid" *ngSwitchCase="guestRespone.AcceptedBoth"></nb-icon>
                    <nb-icon class="bigger" icon="question" pack="fa-solid" *ngSwitchCase="guestRespone.Unknown"></nb-icon>
                    <nb-icon class="bigger" icon="church" pack="fa-solid" *ngSwitchCase="guestRespone.OnlyCeremony"></nb-icon>
                    <nb-icon class="bigger" icon="utensils" pack="fa-solid" *ngSwitchCase="guestRespone.OnlyReception"></nb-icon>
                    <nb-icon class="bigger" icon="xmark" pack="fa-solid" *ngSwitchCase="guestRespone.Canceled"></nb-icon>
                    <nb-icon class="bigger" icon="clock" pack="fa-solid" *ngSwitchCase="guestRespone.Pending"></nb-icon>
                    <nb-icon class="bigger" icon="circle" pack="fa-solid" *ngSwitchDefault></nb-icon>
                  </div>
                </div>
              </div>

              <input type="text" class="form-control" placeholder="..." value="{{guest.name}}">

              <div class="input-group-append">
                <div class="input-group-text">
                  <a href="javascript:void(0)" role="button" (click)="copyURL(guest.id)">Invitation link for guest</a>
                </div>
              </div>
            </div>

            <div *ngIf="true">
              <div class="arrow offset-md-2"></div>
              <nb-card class="offset-md-1 cardborder">
                <nb-card-body>
                  Card
                </nb-card-body>
              </nb-card>
            </div>

          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>